.cardContainer{
    margin: 100px 0;
}
.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    .cardContent{
        max-width: 400px;
        padding-left: 20px;
    }
}
.card:nth-child(1){
    margin-bottom: 100px;
}

.card img{
    width: 250px;
}
.head{
    font-size: 2.5em;
    margin: 0;
    margin-top: 20px;
}
.para{
    margin: 0;
    margin-top: 10px;
    color: #797979;
    font-size: 1em;
}
.button{
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: #6db9eb;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: var(--blue);
}

.about{
    padding: 120px 8% 10px 8%;
    /* background-color: #e3f4ff;
    opacity: 1;
    background-image: radial-gradient(#4b9cd3 1.1px, #e3f4ff 1.1px);
    background-size: 22px 22px; */
}
.aboutHead{
    background-color: #88c1e7;
    height: 80px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-top: 20px;
}
.hint{
    margin-left: -10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 12px;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    background-color: #d5ebfa;
}
.heading{
    font-size: 2rem;
    margin: 0;
}
.content{
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}