.image{
    margin-top: 50px;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
@media (width < 400px) {
    .image{
        img{
            width: 280px;
        }
    }
}
.products{
    width: 100vw;
    height: 80vh;
    background-image: url(../../assets/bg-7.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    
}
.productContent{
    margin: 20px 20px 0 0;
    padding: 20px 0 0 5%;
    background-color: rgba(255, 255, 255, 0.487);
    /* backdrop-filter: blur(20px); */
    border-radius: 0 20px 20px 0;
    max-width: 800px;
    height: fit-content;
}
.head{
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 150px 0 0 5%;
    margin: 0;
    font-weight: 800;
}
.subHead{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin: 0;
    margin-bottom: 20px;
}
.content{
    font-size: clamp(1rem, 5vw, 2rem);
    margin: 0;
    padding-bottom: 50px;
}

.carosul{
    margin: 20px;
    align-items: center;

    img{
        width: 200px;
        height: 200px;
    }
}
@media (width < 700px) {
    .carosul img{
        width: 100px;
        height: 100px;
    }
}