.heading{
    h1{
    max-width: 800px;
    align-self: center;
    }
}
.cardContainer{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
@media (width < 868px) {
    .contact{
        align-items: center;
    }
}
.contact{
    font-family: "Poppins", sans-serif;
    margin: 100px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    gap: 30px;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    padding: 20px;

    .card{
        max-width: 330px;
        border-radius: 15px;
        background-color: #F9FAFC;
        padding: 30px 40px;
    }
}
.card .title .head{
    font-weight: 500;
    font-size: 22px;
}
.card .title .content{
    font-size: 17px;
    margin-top: -15px;
    font-weight: 500;
}
.location{
    margin-top: 40px;
}
.locationHead{
    display: flex;
    align-items: center;
    gap: 8px;

    img{
        width: 15px;
        border: 1px solid #d8d8d8;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 4px 5px;
    }
    p{
        font-weight: 500;
        margin: 0;
    }
}
.locationContent{
    p{
        font-weight: 300;
        height: 100px;
        margin-top: 10px;
    }
}
.callHead{
    display: flex;
    align-items: center;
    gap: 8px;

    img{
        width: 15px;
        border: 1px solid #d8d8d8;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 4px 5px;
    }
    p{
        font-weight: 500;
        margin: 0;
    }
}
.callContent{
    font-weight: 300;
}
.call{
    margin-top: 40px;
}