.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    font-family: "Abril Fatface", serif;
    font-style: normal;
    margin: -50px 10px 40px 10px;
    z-index: 1;
    max-width: 300px;
    padding: 20px;
    height: auto;
    /* border: 1px solid #9d9d9d; */
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
    img{
        width: 25px;
    }
    .svg{
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .head{
        color: #88c1e7;
        font-size: 1.5em;
        margin: 0;
        /* margin-top: 20px; */
    }
    .para{
        font-family: "Poppins", sans-serif;
        margin: 0;
        margin-top: 10px;
        color: var(--secondary-font);
        font-size: 1em;
    }
    .button{
        color: #88c1e7;
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
    .button img{
        width: 20px;
    }
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 5px, rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.arrow{
    transition: transform 300ms linear;
}
.button:hover .arrow{
    transform: translatex(10px);
}
@keyframes appear {
    from{
        /* opacity: 0; */
        scale: 0.7;
    } to {
        /* opacity: 1; */
        scale: 1;
    }
}
.animate{
    animation: appear linear; 
    -moz-animation: appear linear;
    -webkit-animation: appear linear;
    -ms-animation: appear linear;
    -o-animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Vision Mission */
.description{
    padding: 120px 10% 10px 10%;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ourPurpose{
    /* background-color: #88c1e7; */
    height: 80px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    /* border-radius: 10px; */
    padding-top: 20px;
    border-bottom: 3px solid #88c1e7;
}
.box{
    text-align: center;
    flex: 1;
    padding: 10px 20px;
    /* border: 1px solid #88c1e7; */
    border-right: 1px #88c1e7 solid;
    margin-bottom: 20px;
    max-width: 500px;

    &:last-child {
        border-right: none;
    }
}
@media (width < 900px) {
    .box {
        border-right: none;
    }
}

.png{
    
}
.heading{
    font-size: 2rem;
    margin: 0;
    color: #88c1e7;
}
.content{
    color: var(--secondary-font);
    /* text-align: justify; */
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    font-weight: 400;
    /* font-size: large; */
}
@media (width < 600px) {
    .content {
        text-align: justify;
    }
}