.head{
    z-index: 2;
    position: fixed;
    top: 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar{
    /* overflow: auto; */
    display: flex;
    justify-content: center;
    /* border: 1px solid #838383; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    width: 80%;
    height: 80px;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #ffffff;
  
    img{
      object-fit: cover;
        width: 200px;
    }
}

.list{
    width: 500px;
    height: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
        align-self: center;
        color: var(--blue);
        padding: 8px 16px;
        border-radius: 10px;
    }
    li:hover{
        background-color: #E3F4FF;
    }
}

.hamburger{
    display: none;
  }
  
@media screen and (max-width: 780px){
      
    /* hamburger */
    .hamburger {
        padding-top: 25px;
      display: block;
      cursor: pointer;
    }
  
    .bar {
          border-radius: 10px;
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }

  
    /* adding active class to the bars  */
    /* .hamburger.active .bar:nth-child(2){
      opacity: 0;
    } */
    .hamburger.active .bar:nth-child(1){
      transform: translateY(4px) rotate(45deg);
      width: 20px;
    }
    .hamburger.active .bar:nth-child(2){
      transform: translateY(-4px) rotate(-45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-12px) rotate(45deg);
    }
    .lostmob{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .list{
        z-index: 1;
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 100px;
        left: -110%;
        background-color: #fcfcfc;
        border-radius: 20px;
        width: 80%;
        margin: 0 5%;
        height: auto;
        transition: 0.7s ease-in-out;
      }
    
      .list.active{
        left: 0;
      }
    
      .list li {
        margin: 16px 20px 16px 0;
      }
}
